@use 'css/partials/vars' as *;

// ==============================================

.btn {
  all: unset;
  cursor: pointer;

  display: inline-block;
  border: solid 1px white;
  padding: 0.5rem 1rem;

  font-size: $fs-md;//0.8rem;

  transition: 
    background-color 0.2s ease, 
    color 0.2s ease;

  // - - - - - - - - - - - - - - - - - - - - - - 

  &-full.btn-light {
    color: black;
    background: white;
  
    &:hover {
      color: white;
      background: transparent;
    }
  }
  
  &-empty.btn-light {
    border-color: white;
    
    &:hover {
      background: white;
      color: black;
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - 

  &-full.btn-dark {
    color: white;
    background: black;
    border-color: black;
  
    &:hover {
      color: black;
      background: transparent;
    }
  }
  
  &-empty.btn-dark {
    border-color: black;
    
    &:hover {
      background: black;
      color: white;
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - 

  svg {
    display: inline-block;
    margin-right:  calc(#{$fs-md} - 4px);//1vw;//10px;
    width: $fs-md;
    height: $fs-md;
  }

  // - - - - - - - - - - - - - - - - - - - - - - 
}
