@use 'css/partials/vars' as *;

// ==============================================

.btn {
  all: unset;

  display: inline-block;
  border: solid 1px white;
  padding: 0.5rem 1rem;

  font-size: $fs-md;//0.8rem;

  transition: 
    background-color 0.2s ease, 
    color 0.2s ease;

  // - - - - - - - - - - - - - - - - - - - - - - 

  &-full.btn-light {
    color: black;
    background: white;
  
    &:hover {
      color: white;
      background: transparent;
    }
  }
  
  &-empty.btn-light {
    border-color: white;
    
    &:hover {
      background: white;
      color: black;
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - 

  &-full.btn-dark {
    color: white;
    background: black;
    border-color: black;
  
    &:hover {
      color: black;
      background: transparent;
    }
  }
  
  &-empty.btn-dark {
    border-color: black;
    color: black;
    
    &:hover {
      background: black;
      color: white;
    }
  }

  // - - - - - - - - - - - - - - - - - - - - - - 

  svg {
    display: inline-block;
    
    $mr: calc(#{$fs-md} - 4px);
    margin-right: $mr;

    $size: calc(#{$fs-md} - 4px);
    width: $size;
    height: $size;
  }

  // - - - - - - - - - - - - - - - - - - - - - - 
}
