@forward 'css/partials/vars-css';
@forward 'css/partials/reset';
@forward 'css/partials/fonts';
@forward 'css/partials/sticky-footer';
@forward 'css/partials/gutters';




body {
  margin: 0;
  min-width: 325px;

  header {
    background: lightgreen;
    z-index: 10; // .wite: 5, header/footer: 10
  }

  main {
  }

  footer {
    background: lightblue;
    z-index: 10; // .wite: 5, header/footer: 10
  }
}