@forward 'css/partials/vars-css';
@forward 'css/partials/reset';
@forward 'css/partials/fonts';
@forward 'css/partials/sticky-footer';
@forward 'css/partials/gutters';

// ==============================================

body {
  margin: 0;
  min-width: 325px;

  header { position: fixed;
    background: lightgreen;
    z-index: 10; // .wite: 5, header/footer: 10
  }

  main {
    margin-top: 100px; // offset fixed navbar
  }

  footer {
    background: lightblue;
    z-index: 10; // .wite: 5, header/footer: 10
  }
}

// ==============================================

// steelblue
// dodgerblue
// papayawhip
// tomatoe
// rebeccapurple