@use 'css/partials/vars' as *;
@use 'css/partials/mixins' as *;

// ==============================================

.mini-project {
    // border: dashed hotpink 10px;

    // ----------------------------------------
    
    // border: solid yellow 10px;
    // max-height: 100%;
    @include xxl_ {
      padding: 0 $gutter;
    }
    @include xxl {
      @include max-width;
    }
    
    padding-top: 1rem !important;
    padding-bottom: 1rem;

    // ----------------------------------------

    .demo-container {
    
      padding: $pad;
      margin-bottom: $pad;
      border-radius: $rad-sm;

      iframe {
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        border-radius: $rad-sm;
      }
    }

  
    // ----------------------------------------

    .btn-container {
      .btn:not(:last-child) {
        margin-right: 1rem;
      }
      margin-bottom: 1rem;
    }

    // ----------------------------------------

    ul.bullets {
      color: black;
      padding-left: 1.5rem;
      margin-bottom: 1rem;

      li {
        padding-left: 0.5rem;
        font-size: 0.9rem;
        padding-bottom: 0.25rem;
        &::marker {
          content: '→';
          margin: 1rem;
        }
      }
    }

    // ----------------------------------------

  }