@use './vars' as *;
@use './breakpoints' as *;

// ==============================================

@mixin xs {
  @media screen and (min-width: #{$xs}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$sm}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$lg}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$xl}) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: #{$xxl}) {
    @content;
  }
}

// ==============================================

@mixin xs_ {
  @media screen and (max-width: #{$xs}) {
    @content;
  }
}

@mixin sm_ {
  @media screen and (max-width: #{$sm}) {
    @content;
  }
}

@mixin md_ {
  @media screen and (max-width: #{$md}) {
    @content;
  }
}

@mixin lg_ {
  @media screen and (max-width: #{$lg}) {
    @content;
  }
}

@mixin xl_ {
  @media screen and (max-width: #{$xl}) {
    @content;
  }
}

@mixin xxl_ {
  @media screen and (max-width: #{$xxl}) {
    @content;
  }
}

// ==============================================

@mixin max-width {
  max-width: $max-w;
  margin: 0 auto;
}

// ==============================================

@mixin gradient {
  background-color: #6b21a8;
  --gradient-from: #6b21a8;
  // --gradient-to: rgb(107 33 168 / 0);
  --gradient-to: #4338ca;
  --gradient-stops: var(--gradient-from), var(--gradient-to);
  background-image: linear-gradient(to right, var(--gradient-stops));
}

// ==============================================