@use 'css/partials/mixins' as *;

// ==============================================

@mixin d-none {
  display: none !important;
}

// ==============================================

.xxl-inline {
  @include xxl_ { @include d-none; }
  @include xxl { display: inline; }
}

.xxl-block {
  @include xxl_ { @include d-none; }
  @include xxl { display: block; }
}

// ==============================================

.xl-inline {
  @include xl_ { @include d-none; }
  @include xl { display: inline; }
}


.xl-block {
  @include xl_ { @include d-none; }
  @include xl { display: block; }
}

// ==============================================

.lg-inline-block {
  @include lg_ { @include d-none; }
  @include lg { display: inline-block; }
}

.lg-flex {
  @include lg_ { @include d-none; }
  @include lg { display: flex; }
}

// ==============================================

.md-inline-block {
  @include md_ { @include d-none; }
  @include md { display: inline-block; }
}

// ==============================================

.sm-inline-block {
  @include sm_ { @include d-none; }
  @include sm { display: inline-block; }
}

.sm-inline {
  @include sm_ { @include d-none; }
  @include sm { display: inline; }
}

.sm_-inline {
  @include sm_ { display: inline; }
  @include sm { @include d-none; }
}