@use './breakpoints' as *;

// ==============================================

:root {
  --pad: 1rem;
  --max-w: #{$xl};
  --gutter: 2rem;
  --rad: 12px;
  --section-margin: 100px;
  --navbar-height: 80px;

  --grey: lightgrey;
}