@use './breakpoints' as *;

// ==============================================

:root {
  --pad: 1rem;
  --max-w: #{$xxl};
  --min-w: 365px; // iPhone SE: 375px
  --gutter: 2rem;
  --rad: 12px;
  
  --navbar-height: 80px;

  --grey: lightgrey;
  --bg-primary: #F9FAFB;
  --bg-secondary: #F3F4F6;

  --text-grey-light: #9CA3AF;
  --text-grey-dark: #6B7280;
  --text-purple-light: #E9D5FF;


  --fs-xxl: clamp(3.5rem, 6vw + 1rem, 5.5rem);     // title
  --fs-xl: clamp(1.3rem, 2vw + 0.5rem, 2rem);      // super-title
  --fs-lg: clamp(0.98rem, 1.5vw + 0.4rem, 1.4rem); // sub-title
  --fs-md: clamp(0.85rem, 1.2vw + 0.3rem, 1rem);   // buttons
  // --fs-xs: ;

  @media (max-width: #{$lg}) {
    --fs-900: 1.9rem;
    --fs-800: 1.7rem;
    --fs-700: 1.5rem;
    --fs-600: 1.3rem;
    --fs-500: 1.1rem;
    --fs-400: 0.9rem;
    --fs-300: 0.7rem;
    --fs-200: 0.5rem;
    --fs-100: 0.3rem;

    --section-margin: 4rem;
  }

  @media (min-width: #{$lg}) {
    --fs-900: 2.0rem;
    --fs-800: 1.8rem;
    --fs-700: 1.6rem;
    --fs-600: 1.4rem;
    --fs-500: 1.2rem;
    --fs-400: 1.0rem;
    --fs-300: 0.8rem;
    --fs-200: 0.6rem;
    --fs-100: 0.4rem;

    --section-margin: 6rem;
  }
}
