@use './breakpoints' as *;

// ==============================================

:root {
  --pad: 1rem;
  --max-w: #{$xxl};
  --gutter: 2rem;
  --rad: 12px;
  --section-margin: 100px;
  --navbar-height: 80px;

  --grey: lightgrey;
  --bg-primary: #F9FAFB;
  --bg-secondary: #F3F4F6;

  --text-grey-light: #9CA3AF;
  --text-grey-dark: #6B7280;
}