@use 'css/partials/vars' as *;

/* ========================================= */
/* ----------- "Sticky"-Footer ------------- */
/* ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ ╲╱ */
html {            height: 100%;   //background: yellow;
  body {          height: 100%;   //background: orange;
    #__next { min-height: 100%;   //background: darkorchid;
      display: grid;
      grid-template-rows: $navbar-height 1fr $navbar-height;

      header { grid-row: 1 / 2; }
      main   { grid-row: 1 / 3; }
      footer { grid-row: 3 / 4; }
    }
  }
}
/* ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ ╱╲ */
/* ^^^^^^^^^^^ "Sticky"-Footer ^^^^^^^^^^^^^ */
/* ========================================= */

body {
  // overflow-x: clip;
  overflow-x: hidden;
  background: $bg-primary;

  header { position: fixed;
    z-index: 10;
  }

  main {
    opacity: 0; // page transition

    &:not(#home) {
      padding-top: $navbar-height;
    }
  }

  footer {
    opacity: 0; // page transition
    z-index: 10;
  }
}
