body {
  // overflow-x: clip;
  overflow-x: hidden;

  header { position: fixed;
    background: lightgreen;
    z-index: 10; // .wite: 5, header/footer: 10
  }

  main {
    opacity: 0; // page transition
  }

  footer {
    opacity: 0; // page transition
    background: lightblue;
    z-index: 10; // .wite: 5, header/footer: 10
  }
}
