@use 'css/partials/vars' as *;

// ==============================================

body {
  // overflow-x: clip;
  overflow-x: hidden;
  background: $bg-primary;

  header { position: fixed;
    z-index: 10;
  }

  main {
    opacity: 0; // page transition
  }

  footer {
    opacity: 0; // page transition
    z-index: 10;
  }
}
