#portal-nav-drawer {

  // ============================================

  .blur-overlay {
    $blur: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;     
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: $blur;
    -webkit-backdrop-filter: $blur;
    z-index: 99;
  }

  // ============================================

  aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
    // overflowY: 'scroll',
    display: flex;
    width: 200px;
    background: lightgreen;

    ul.navlinks { position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 40%;
      // background: orange;
      
      .navlink {
        
        // background: green;
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        overflow: hidden;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }


        &__interior { 
          // background: red;
          cursor: pointer;

          width: fit-content;
          text-align: center;

          $offset: 2px;
          $padding-bottom: calc(1.5 * #{$offset});
          border-bottom: $offset solid transparent;
          padding-bottom: $padding-bottom;
          transition: 
            border-bottom 1.2 ease,
            color 1.125 ease
          ;

          &.active {
            border-bottom: $offset solid white;
            color: white;
          }
        }
        
      }
    }
  }

  // ============================================
}