@use 'css/partials/mixins' as *;
@use 'css/partials/vars' as *;

// ==============================================

header {
  padding: 
    calc(0.75 * #{$pad}) 
    $gutter
  ;

  @include xl {
    padding-left: 0;
    padding-right: 0;
  }; 

  > div { // container
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: orange;
    @include max-width;

    .logo {
      height: 40px;
      cursor: pointer;
    }

    .navlinks,
    .socials {
      display: none;
      @include sm {
        display: flex;
      }

      > li {
        a {
          display: flex;
          svg { 
            color: black;
            height: 25px;;
          }
        }

        &:not(:last-child) {
          margin-right: 1.75rem;
        }
      }

    }

    $anim: 0.2s ease-in-out;
    .navlinks {
      cursor: pointer;

      .navlink {
        $offset: 2px;
        $padding-bottom: calc(1.5 * #{$offset});

        border-bottom: $offset solid transparent;
        margin-bottom: calc(-1 * calc(#{$offset} + #{$padding-bottom}));
        padding-bottom: $padding-bottom;
        transition: 
          border-bottom $anim,
          color $anim
        ;

        &.active {
          border-bottom: $offset solid white;
          color: white;
        }
        &:hover {
          color: white;
        }
      }
    }
    .socials {
      .social svg {
        transition: color $anim;
        &:hover {
          color: white;
        }
      }
    }

    #hamburger {
      cursor: pointer;
      display: flex;
      @include sm {
        display: none;
      }
      
    }
  }
}