@use 'css/partials/mixins' as *;
@use 'css/partials/vars' as *;

// ==============================================

header {
  padding: calc(0.5 * #{$pad}) $pad;

  @include xl {
    padding-left: 0;
    padding-right: 0;
  }; 

  > div { // container
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: orange;
    @include max-width;

    .logo {
      height: 40px;     
    }

    .navlinks,
    .socials {
      display: flex;

      > li {
        &:not(:last-child) {
          background: red;
          margin-right: 1rem;
        }
      }

    }
  }
}