@use 'css/partials/mixins' as *;
@use 'css/partials/vars' as *;

// ==============================================

header {
  padding: calc(0.5 * #{$pad}) $pad;

  @include xl {
    padding-left: 0;
    padding-right: 0;
  }; 

  > div { // container
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: orange;
    @include max-width;

    .logo {
      height: 40px;
      cursor: pointer;
    }

    .navlinks,
    .socials {
      display: flex;

      > li {
        a {
          display: flex;
          svg { 
            color: black;
            height: 25px;;
          }
        }

        &:not(:last-child) {
          margin-right: 1.75rem;
        }
      }

    }

    .navlinks {
      cursor: pointer;

      .navlink {
        $offset: 2px;
        $padding-bottom: calc(2 * #{$offset});

        transition: border-bottom 0.25s ease-in-out;
        border-bottom: $offset solid transparent;
        margin-bottom: calc(-1 * calc(#{$offset} + #{$padding-bottom}));
        padding-bottom: $padding-bottom;

        &.active {
          border-bottom: $offset solid white;
        }
      }
    }
  }
}