@use 'css/partials/vars' as *;
@use 'css/partials/mixins' as *;

section#hero {  position: relative;
  * { margin: 0; }
  padding: $section-margin  $pad;
  color: white;

  @include xl {
    border-radius: $rad;
    overflow: hidden;
  }
  background-image: url('/img/AdobeStock_504342231_1920x1280.webp');
  display: grid;
  place-items: center;

  grid-template-columns: 1fr;
  @include xl {
    grid-template-columns: 1fr 1fr;
  }
  



  // ============================================

  .overlay {  position: absolute;  z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }

  // ============================================

  .left,
  .right {  position: relative;  z-index: 1;
  }

  // ============================================

  .left {
    display: flex;
    justify-content: center;
    svg {
      width: 70%;
      // height: 100%;
    }

    display: none;
    @include xl {
      display: flex;
    }
  }

  // ============================================

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    .suer-title,
    .title,
    .sub-title {
      line-height: 1;
      margin: 0;
    }

    .super-title {
      text-decoration: underline;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 0.3rem;
    }

    .title {
      font-size: 4.5rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    .sub-title {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  // ============================================

  #construction { position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
  }

  // ============================================
}