@use 'css/partials/vars' as *;
@use 'css/partials/mixins' as *;
@use 'css/partials/breakpoints' as *;

section#projects {
  // padding: $section-margin  $pad;
  color: black;
  // border: dashed tomato 3px;

  // ============================================

  .panel { 
    // border: solid hsla(0, 0%, 50%, 0.1) 1px;

    @include max-width;

    display: grid;
    grid-template-columns: 1fr;
    @include xl {
      grid-auto-flow: column dense;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    // ------------------------------------------

    .left  {      
      align-self: center;
      justify-self: center;

      // - - - - - - - - - - - - - - - - - - - - - -

      @media (max-width: #{$xl}) {
        padding-left: $gutter;
        padding-right: $gutter;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      @media (min-width: #{$xl}) and (max-width: #{$xxl}) {
        padding-left: $gutter;
        padding-right: 0
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      @include xl {
        justify-self: flex-start;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      .icon {
        $size: 25px;
        width: $size;
        height: $size;
        margin-bottom: 0.8rem;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      .title {
        margin-bottom: 0.6rem;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      .description {
        line-height: 1.6;
        color: $text-grey-dark;
        margin-bottom: 1rem;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

      .btn-container {
        .btn:not(:last-child) {
          margin-right: 1rem;
        }
        margin-bottom: 1rem;
      }

      // - - - - - - - - - - - - - - - - - - - - - -

    }

    // ------------------------------------------

    .right {  position: relative;
      padding: 0 $gutter;

      @include xl { padding: 0; }

      img {
        border-radius: $rad;
        width: 100%;
        @include xl {
          height: 700px;
          width: auto;
        }
      }
    }

    // ------------------------------------------

    @include xl {
      $space: 4rem;

      &:nth-child(odd) {
        .left  {  order: 1; padding-right: $space;          }
        .right {  order: 2; img { justify-self: flex-end; } }
      }
  
      // - - - - - - - - - - - - - - - - - - - - - -
      
      &:nth-child(even) {
        .left  {  order: 2; padding-left: $space;   }
        .right {  order: 1; justify-self: flex-end; }
      }
    }
        
    // ------------------------------------------
    
    &:not(:last-child) {
      margin-bottom: $section-margin;
    }
    
    // ------------------------------------------

  }

  // ============================================
}